In [37]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_classification
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [38]:
X_df = pd.DataFrame(np.random.randint(0, 10, size=(100, 100)))

In [39]:
X_df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,9,1,8,1,1,5,1,9,7,6,...,2,1,4,2,0,7,5,6,0,9
1,2,5,2,1,7,5,0,5,4,0,...,9,6,6,6,1,6,1,1,8,6
2,4,8,8,5,8,0,2,0,2,0,...,6,7,5,2,8,5,0,9,7,6
3,1,3,8,6,0,1,8,8,2,4,...,1,2,1,8,6,5,0,3,3,6
4,5,4,4,9,2,4,1,0,8,0,...,4,4,1,7,0,6,6,6,8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6,4,2,7,3,7,8,5,3,2,...,3,2,6,7,2,1,5,7,3,0
96,7,3,2,4,4,7,0,3,3,5,...,3,6,3,8,5,8,3,1,8,6
97,8,2,4,9,7,6,9,2,7,8,...,1,4,2,1,3,2,5,5,1,8
98,6,7,3,8,2,6,7,3,8,6,...,4,2,8,3,8,6,5,7,7,9
99,3,1,4,1,5,5,6,6,1,1,...,4,7,6,0,7,0,5,5,5,9

In [40]:
X_df.iloc[np.random.randint(0, 100, 10), 1] = np.nan

In [42]:
from sklearn.pipeline import Pipeline
p = Pipeline([
    ('imputer', SimpleImputer(strategy="constant", fill_value=-9999)),
    ('hot', OneHotEncoder()), 
])

In [43]:
transformers = [("aman", p, [0,1,2,3,4])]

In [44]:
transformers

[('aman',
  Pipeline(steps=[('imputer',
                   SimpleImputer(fill_value=-9999, strategy='constant')),
                  ('hot', OneHotEncoder())]),
  [0, 1, 2, 3, 4])]

In [45]:
from sklearn.compose import ColumnTransformer

In [46]:
preprocessor = ColumnTransformer(transformers)

In [47]:
p1 = Pipeline([
    ('abc', preprocessor)
])

In [48]:
pipe_cat = "C:\\Users\\amand\\Desktop\\" + "abc.plk"

In [49]:
import pickle

In [50]:
pickle.dump(p1, open(pipe_cat, 'wb'))

In [51]:
X_df.isnull().sum()

0      0
1     10
2      0
3      0
4      0
      ..
95     0
96     0
97     0
98     0
99     0
Length: 100, dtype: int64

In [53]:
df = p1.fit_transform(X_df)

In [57]:
df_np = df.todense()

In [62]:
df_np.shape

(100, 51)

In [72]:
abc = p1.named_steps['abc'].transformers_[0][1].named_steps['hot'].get_feature_names().tolist()

In [73]:
a = ['amancol1']

In [76]:
a += abc

In [77]:
a

['amancol1',
 'x0_0.0',
 'x0_1.0',
 'x0_2.0',
 'x0_3.0',
 'x0_4.0',
 'x0_5.0',
 'x0_6.0',
 'x0_7.0',
 'x0_8.0',
 'x0_9.0',
 'x1_-9999.0',
 'x1_0.0',
 'x1_1.0',
 'x1_2.0',
 'x1_3.0',
 'x1_4.0',
 'x1_5.0',
 'x1_6.0',
 'x1_7.0',
 'x1_8.0',
 'x1_9.0',
 'x2_0.0',
 'x2_1.0',
 'x2_2.0',
 'x2_3.0',
 'x2_4.0',
 'x2_5.0',
 'x2_6.0',
 'x2_7.0',
 'x2_8.0',
 'x2_9.0',
 'x3_0.0',
 'x3_1.0',
 'x3_2.0',
 'x3_3.0',
 'x3_4.0',
 'x3_5.0',
 'x3_6.0',
 'x3_7.0',
 'x3_8.0',
 'x3_9.0',
 'x4_0.0',
 'x4_1.0',
 'x4_2.0',
 'x4_3.0',
 'x4_4.0',
 'x4_5.0',
 'x4_6.0',
 'x4_7.0',
 'x4_8.0',
 'x4_9.0']

In [ ]:
one_hot_cols = p1.named_steps